.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */

.textArea{
  padding: 1%;
  margin: 2%;
  width: 50%;
}

#login-wrapper, #table-wrapper{
  margin-left: 25%;
  width: 50%;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 5%;
  padding-bottom: 3%;
  background-color: #ffe3fe;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button{
  border: none;
  border-radius: 5px;
  background-color: #b4aee8;
  width: 20%;
  height: 25px;
}

body{
  background-color: #b4aee8;
}